.wrapper {
  position: relative;
  border-bottom: 5px solid #f98c13;
}

.teamWrapper {
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
  text-align: center;
}

.teamName {
  color: white;
  font-size: 56px;

}

.stadiumName {
  color: white;
  font-size: 24px;
  font-weight: 300;
}